body {
  margin: 0;
  font-size: 14px;
  background-color: #fafafa;
  color: #333;
  font-family: 'Source Code Pro', Monaco, 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
a {
  color: green;
  text-decoration: none;
}
pre {
  font-family: 'Source Code Pro', Monaco, 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  background-color: #fafafa;
  padding: 10px;
}
.comments {
  color: #999;
}
.nav {
  overflow: hidden;
  text-align: center;
}
.nav a {
  display: inline-block;
  line-height: 40px;
  /*background-color: #ccc;*/
  padding: 0 20px;
  margin-left: 1px;
  transition: all 0.3s ease-out;
}
.nav a:hover {
  background-color: #fafafa;
}
h3,
h4,
h5 {
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
}
.topnav {
  text-align: center;
  padding: 30px 0 0;
}
.topnav a {
  color: #333;
  margin: 0 10px;
}
.topnav a:hover {
  color: green;
}
.topnav a.on {
  border-bottom: 2px solid #4CA26F;
}
.box {
  width: 400px;
  height: 50px;
  line-height: 50px;
  background-color: #4CA26F;
  color: white;
  text-align: center;
  cursor: pointer;
  margin: 0 auto 40px;
  border-radius: 5px;
  position: relative;
  left: 0;
  overflow: hidden;
}
header {
  text-align: center;
  background-color: #53C180;
  padding: 50px 0;
  font-family: 'optima';
  font-size: 18px;
  color: white;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
header p {
  font-family: tahoma;
  opacity: 0.8;
}
/*code {
  padding: 2px 4px;
  font-size: 100%;
  color: #C7254E;
  background-color: #F9F2F4;
  border-radius: 4px;
  font-family: 'Source Code Pro', Monaco, courier, monospace;
}*/
section {
  padding: 166px 50px 50px;
  width: 860px;
  /*padding: 0 30px;*/
  margin: 0 auto;
  background-color: white;
  /*min-height: 800px;*/
}
.demo {
  /*padding: 20px 0;*/
}
.demo-list {
  text-align: center;
}
.demo-list dd {
  margin-bottom: 40px;
}
.demo-list dt {
  margin-bottom: 10px;
}
.mc-anim-link {
  position: absolute;
  left: -90px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 100px 60px 10px;
  top: -70px;
  color: white;
  transition: all 0.3s ease-out;
  /*background-color: white;*/
  transform: rotate(-45deg);
}
.mc-anim-link:hover {
  color: yellow;
  background-color: rgba(0, 0, 0, 0.15);
  /*box-shadow: 0 3px 3px rgba(0,0,0,0.1)*/
}
.tips {
  margin: 40px 0 20px;
  border-left: 4px solid #4CA26F;
  padding: 3px 10px;
  font-weight: bold;
  text-align: left;
}
.arrow-down {
  display: inline-block;
  width: 0px;
  height: 0;
  border: 12px solid #ddd;
  border-color: #ddd transparent transparent transparent;
}
.container {
  padding: 166px 80px 0;
}
.main {
  min-height: 500px;
  max-width: 700px;
  background-color: #fff;
  margin: 0 auto;
  padding: 0 30px 30px;
  line-height: 1.8;
  position: relative;
}
.side {
  position: absolute;
  left: 50px;
  top: 196px;
  /*margin-top: 30px;*/
  height: 100%;
  overflow: auto;
}
.side h2 {
  font-family: arial;
  margin-bottom: 20px;
}
.side dl {
  line-height: 1.5;
  margin-bottom: 10px;
}
.side dl a {
  color: #333;
}
.side dl a.active {
  color: #2F9056;
  font-weight: bold;
}
.side dl dd {
  padding-left: 15px;
  font-size: 12px;
}
.side-fixed {
  position: fixed;
  top: 30px;
}
.title {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.api-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}
.api-name:before {
  content: '#';
  color: #4CA26F;
  margin-right: 5px;
}
.bold {
  font-weight: bold;
}
.mb20 {
  margin-bottom: 20px;
}
.mb40 {
  margin-bottom: 40px;
}
.key-code {
  background-color: #f5f5f5;
  border-radius: 3px;
  color: #2F9056;
  padding: 0 5px;
  margin: 0 5px;
}
.api {
  margin-bottom: 50px;
}
.api-li {
  padding-left: 40px;
  line-height: 2;
}
.api-tips {
  border-left: 3px solid #FF8B36;
  background-color: #fafafa;
  padding: 5px 10px;
  margin: 10px;
}
